<div class="card box">
  <div class="box-inner text-center">
    <div class="card-body">
      <h1 class="display-6">Venue</h1>
      <a routerLink="https://www.google.co.in/maps/place/Shri+Laxminarayan+Resort+(+shri+umiya+patidar+samaj)/@15.4323993,75.024108,18.21z/data=!4m15!1m8!3m7!1s0x3bb8cd62d889aba7:0x5a4f2144717bcf70!2sDharwad,+Karnataka!3b1!8m2!3d15.4589236!4d75.007808!16zL20vMDR3ZDN6!3m5!1s0x3bb8cd78a3708781:0x5008dc0a3f9c383d!8m2!3d15.433101!4d75.0234612!16s%2Fg%2F11fjspzsbx">
        Name of Kalyan Mantapa, Dharwad.
      </a>
    </div>
  </div>
</div>
