<div class="card">

  <div class="about">
    <figure class="text-center">
      <blockquote class="blockquote">
        <h1 class="display-6">About</h1>
      </blockquote>
      <figcaption class="blockquote-footer">
        Groom <cite title="Source Title">&</cite> Bride
      </figcaption>
    </figure>
  </div>

  <ul class="alert alert-danger" role="alert">
    <div class="card text-center mb-3" style="width: 95%;"> <!--class="alert alert-danger" role="alert"-->
      <div class="card-body">
        <img src="https://picsum.photos/200/200" class="d-block w-100" alt="https://picsum.photos/200/200">
        <b class="card-text">Akheel Sajjan</b>
        <p class="card-text">Qualification: Computer Science</p>
      </div>
    </div>

    <div class="card text-center mb-3" style="width: 95%;">
      <div class="card-body">
        <img src="https://picsum.photos/200/200" class="d-block w-100" alt="https://picsum.photos/200/200">
        <b class="card-text">N/A </b>
        <p class="card-text">Qualification: Computer Science</p>
      </div>
    </div>

  </ul>
</div>
